.gradle/
build/
out/
.classpath
.project
.settings/
bin/
*.iml
.idea/
.vscode/
run/
logs/
crash-reports/
debug.log
latest.log
.DS_Store
Thumbs.db
desktop.ini
hs_err_pid*
replay_pid*
local.properties
*.local
notes